<h1>My First Attribute Directive</h1>

<h2>Pick a highlight color</h2>
<div>
  <input type="radio" name="colors" (click)="bgColor = 'lightgreen'" />Green
  <input type="radio" name="colors" (click)="bgColor = 'yellow'" />Yellow
  <input type="radio" name="colors" (click)="bgColor = 'cyan'" />Cyan
</div>
<p [appHighlight]="bgColor">Highlight me!</p>
<p [appHighlight]="bgColor" defaultColor="violet">
  {{ person | name : false : "blabla" | sort : "same" | titlecase }}
</p>

<h3>NonBindable with a directive</h3>
<p ngNonBindable [appHighlight]="'pink'">
  This should not evaluate: {{ 1 + 1 }}, but will highlight pink
</p>
<router-outlet></router-outlet>
